@page
@model DyrvaernetRoskilde.Pages.Blog

@{
    ViewData["Title"] = "Om";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Om </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Blog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dyreinternat.styles.css" asp-append-version="true" />
</head>

<div class="blog-title">
    <h1>Velkommen til vores blog</h1>
    <p>På denne blog deler vi nyheder og giver et indblik i det daglige arbejde med dyrene hos Roskilde Dyreværnet.</p>
</div>

<hr></hr>

<div class="section reverse">
    <img src="Images/imgg1.png" alt="coco"></img>
    <p><b>Velkommen til Coco</b>
        <br/>
        Vi er glade for at kunne præsentere vores nye beboer, Coco – han er en charmerende og livlig Cocker Spaniel. Coco er 4 år gammel, fuld af energi og elsker at blive aktiveret med gåture og leg.
        Han er allerede faldet godt til hos os og trives i trygge rammer med god omsorg og faste rutiner. Coco er venlig over for både mennesker og andre hunde, og vi håber snart at finde det rette hjem til ham.
        Har du lyst til at møde Coco og høre mere om muligheden for adoption, er du meget velkommen til at booke et besøg.
    </p>
</div>


<div class="section reverse">
    <img src="Images/Sommerfest.png" alt="sommerfest"></img>
    <p><b>Sommerfest hos Roskilde Dyreværnet</b>
    <br/>
        Vi inviterer alle til at deltage i årets sommerfest hos Roskilde Dyreværnet – en hyggelig dag fyldt med aktiviteter for både børn og voksne.
        Uanset om du er besøgende, frivillig, dyreelsker eller blot nysgerrig, er du hjertelig velkommen. Det bliver en oplagt mulighed for at møde vores dyr, personale og andre engagerede i dyrevelfærd.
        Vi glæder os til at se jer til en dag med god stemning, samvær og fælles kærlighed til dyrene. I kan tilmeld jer ved at klikke <a href="/Events">her</a>.
        </p>
</div>

<div class="section reverse">
    <img src="Images/politi.png" alt="img3"></img>
    <p><b>Dyreværnet og Københavns Vestegns Politi </b>
        <br/>
        Dyreværnet samarbejder med Politiet om at tage sig af herreløse og nødstedte dyr. 
        Når ejere bliver indlagt eller fængslet, sørger Dyreværnet for midlertidig pasning og vurdering af dyrets videre skæbne. 
        Samarbejdet dækker hele Sjælland og kræver personale med erfaring, døgnberedskab og tilladelse til at håndtere alle typer kæledyr.
    </p>
</div>