@page
@model DyrvaernetRoskilde.Pages.BookingBekraeftelse

@{
    ViewData["Title"] = "Booking registreret";
}

<link rel="stylesheet" href="~/css/BookingBekraeftelse.css" asp-append-version="true" />
<h2>Tak For Din Booking!</h2>
<p> Din tid er blevet registreret hos Dyreværnet!</p>

<a> href="/Book"><button>Tilbage Til Booking</button></a>


