@page
@model DyrvaernetRoskilde.Web.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Aktiviteter </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Events.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DyrvaernetRoskilde.styles.css" asp-append-version="true" />
</head>

<div>
    <h1>Aktiviteter</h1>
</div>

@for (int i = 0; i < Model.Events.Count; i++)
{
    <div class="box">
        <h3>Model.Events[i].Title</h3>
        <p>@Model.Events[i].Description</p>
        <p><bolder>Dato:</bolder>@Model.Events[i].Date.ToShortDateString()</p>
        <a href="/SignUp?EventId=@Model.Events[i].Id">Tilmeld dig</a>
    </div>
}