@page
@model DyrvaernetRoskilde.Pages.forslag

@{
    ViewData["Title"] = "Forslag";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Forslag </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Events.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DyrvaernetRoskilde.styles.css" asp-append-version="true" />
</head>
<div class="input-forslag">
    <h2>Tak For dit forslag!</h2>
    <p> Vi vender tilbage til dig om dit forslag kan blive til noget.</p>

    <a href="/Events">
        <button>Tilbage til Aktivitet</button>
    </a>  
</div>

