@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner">
<img src="Images/Forside.png" alt="Forside">
</div>
<hr/>

<div class="front-header">
    <h1>Roskilde Dyreinternat</h1>
    <p>- Alle kæledyr i Danmark skal have et godt hjem</p>
</div>

<hr/>
<div class="card-container">
    <h1></h1>
    <div class="card">
        <img src="Images/img4.png"alt="Hvem er vi">
        <div class="card-content">
            <h3>Hvem er vi</h3>
            <p> Vi er en organisation, der arbejder for at finde nye hjem til dyr og sikre god dyrevelfærd.</p>
            <a href="/About" class="btn">Læs mere</a>
        </div>
    </div>
    <div class="card">
        <img src="Images/Sommerfest.png" alt="sommerfest">
        <div class="card-content">
            <h3><strong>Sommerfest hos Roskilde Dyreværnet</strong></h3>
            <p> Roskilde Dyreværnet inviterer til sommerfest for alle interesserede. 
                Kom og vær med til en hyggelig dag..</p>
            <a href="/Events" class="btn">Læs mere</a>
        </div>
    </div>
    <div class="card">
        <img src="Images/Hundogkat.png" alt="hund og kat">
        <div class="card-content">
            <h3><strong>Adoptere et nyt kæledyr</strong></h3>
            <p> Overvejer du at adoptere et kæledyr? Hos Roskilde Dyreværnet hjælper vi dig godt i gang</p>
            <a href="" class="btn">Læs mere</a>
        </div>
    </div>
</div>
<hr/>
<div class="footer-container">
        <div class="footer-section">
            <h3><strong>Telefontid</strong></h3>
            <h6>+45 44 94 66 95</h6>
            <p> Nummeret er til vores internat <em>ikke</em> til dyreklinikken eller pensionen.</p>
            <p>Ring til os på alle hverdage mellem 9.30 - 12.00 (gælder ikke helligdage + weekender) </p>
            <p>Eller send os en mail: info@dyrevaernet.dk </p>
        </div>
        <div class="footer-section">
            <h3><strong>Åbningstider - Rødovre</strong></h3>
            <p>Islevdalvej 85,2610 Rødovre </p>
            <p>Mandag: Lukket</p>
            <p>Tirsdag: 09.00 - 11.00</p>
            <p>Ons, tors og fre: 15.00 - 17.00</p>
            <p>Lør, søn og helligdage: 12.00 - 16.00</p>
            <p>Lukket: 24., 25., 26., 31. dec. + 1. jan</p>
        </div>
    <div class="footer-section">
        <h3><strong>Åbningstider - Kolding</strong></h3>
        <p>Gabølvej 6, 6000 Kolding</p>
        <p> Mandag: Lukket </p>
        <p>Tirsdag: 13.00 - 16.00 </p>
        <p>Onsdag-torsdag: Lukket </p>
        <p>Fredag: 13.00 - 16.00 </p>
        <p>Lør, søn og helligdage: Lukket </p>
        <p>Lukket: 24., 25., 26., 31. dec. + 1. jan</p>
    </div>
</div>