@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner">
<img src="Images/Forside.png" alt="Forside">
</div>
<hr/>

<div class="front-header">
    <h1>Roskilde Dyreinternat</h1>
    <p>- Alle kæledyr i Danmark skal have et godt hjem</p>
</div>

<hr/>
<div class="card-container">
    <div class="card">
        <img src="Images/Hundogkat.png"alt="test">
        <div class="card-content">
            <h3>Card 1</h3>
            <p> tekst tekst tekst</p>
            <a href="" class="btn">Read more</a>
        </div>
    </div>
    <div class="card">
        <img src="" alt="">
        <div class="card-content">
            <h3>Card 2</h3>
            <p> tekst tekst tekst</p>
            <a href="" class="btn">Read more</a>
        </div>
    </div>
    <div class="card">
        <img src="" alt="">
        <div class="card-content">
            <h3>Card 3</h3>
            <p> tekst tekst tekst</p>
            <a href="" class="btn">Read more <span class="icon arrow"></span></a>
        </div>
    </div>
</div>
<hr/>
<div class="container-fluid">
    <div class="row-cols-2">
        <div class="phone-content">
            <h3>Telefontid</h3>
            <h4>+45 44 94 66 95</h4>
            <br/>
            <p> Nummeret er til vores internat <em>ikke</em> til dyreklinikken eller pensionen.</p>
            <br/>
            <p>Ring til os på alle hverdage mellem 9.30 - 12.00 (gælder ikke helligdage + weekender) </p>
            <br/>
            <p>Eller send os en mail: info@dyrevaernet.dk </p>
        </div>
    </div>
    <div class="row-cols-2">
        <div class="opening-content">
            <h3>Åbningstider</h3>
            <div class="row-cols-sm-2">
                <p>Islevdalvej 85, 2610 Rødovre </p>
                <br/>
                <p>Mandag: Lukket</p>
                <p>Tirsdag: 09.00 - 11.00</p>
                <p>Ons, tors og fre: 15.00 - 17.00</p>
                <p>Lør, søn og helligdage: 12.00 - 16.00</p>
                <p>Lukket: 24., 25., 26., 31. dec. + 1. jan</p>
                <br/>
                <br/>
            </div>
            <div class="row-cols-sm-2">
                <p>Gabølvej 6, 6000 Kolding</p>
                <br/>
                <p>Mandag: Lukket</p>
                <p>Tirsdag: 13.00 - 16.00</p>
                <p>Onsdag-tors: Lukket</p>
                <p>Fredag: 13.00 - 16.00</p>
                <p>Lør, søn og helligdage: Lukket</p>
                <p>Lukket: 24., 25., 26., 31. dec. + 1. jan</p>
            </div>
        </div>
    </div>

</div>