html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.blog-title h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}
.blog-title p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}


.section {
    display: flex;
    justify-content: space-around;
    padding: 60px 5%;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
}

.section img {
    width: 100%;
    border-radius: 6px;
    height: 250px;
    object-fit: cover;
}

.section b {
    font-size: 28px;
    margin-top: 0;
    font-weight: bolder;
}

.section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 90%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin-bottom: 10px;
}

.section.reverse:nth-child(even) {
    flex-direction: row-reverse;
}
