html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.title h1
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.title p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.event-card {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    background-color: #fff;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.2);
}

.event-text {
    flex: 2;
}

.event-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-image img {
    width: 100%;
    border-radius: 6px;
    height: 250px;
    object-fit: cover;
    
}
.event-card h3{
    margin-top: 0;
    font-size: 22px;
    color: #333;
    font-weight: bolder;
}

.event-card p{
    margin: 8px 0;
    font-size: 17px;
}
.event-card a{
    display: inline-block;
    margin-top: 12px;
    padding: 8px 12px;
    background-color: #1b6ec2;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.event-card a:hover{
    background-color: #0a53be;
}